header { text-align: center; padding: 2px;  display:flex; 
    flex-flow: wrap; justify-content: center; align-items: center;
    ; background-size: 100%; background-position: center; background-color: #3f3e3e;}
.logo { width: 150px;}
nav { width: 80%; text-align: right; padding: 10px; box-sizing: border-box}
nav a { border: 1px solid rgb(252, 251, 251); padding: 10px;
     color: rgb(245, 243, 243); text-decoration: none; background-color: #020202; }
nav a:hover {background-color: #c5bebb; color: rgb(0, 0, 0); 
    padding: 10px 10px 20px 10px ; transition: all 2ms;}
.cajacontenedora {display: flex;}
.cajacontenedora div {width: 32%; margin: 2%; background-color: rgb(255, 255, 255);}
.sushi { width: 300px;}
.sushi2 { width: 300px; }
.sushi3 { width: 300px;}
.sushi4 { width: 300px;}
.sushic { width: 450px;}
.sushif { width: 450px;}
.sushib { width: 400px;}

/** Tarjetas Restaurante **/

.wrap{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .column-2.carta{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }
  
  .plato-carta{
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
  }
  
  
  
 
  
  .title-plato-carta{
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 0 1rem;
  }
  
  .precio-plato-carta{
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    font-weight: bold;
  }
footer { background-color: #3f3e3e; color: #ffffff; padding: 10px}

@media screen and (max-width: 768px) {
  body { background-color: #ffffff;}
  .cajacontenedora { flex-direction: column;}
  .sushi { width: 280%;}
.sushi2 { width: 280%; }
.sushi3 { width: 280%;}
.sushi4 { width: 280%;}

  .column-2.menu{
    grid-template-columns: repeat(1,1fr);
  }
}
@media screen and (max-width: 768px) {
  body { background-color: #ffffff;}
  .cajacontenedora { flex-direction: column;}
  .sushic { width: 300%;}
.sushif { width:300%; }
.sushib { width: 300%;}


  .column-2.menu{
    grid-template-columns: repeat(1,1fr);
  }
}

@media screen and (max-width: 480px) {
  body { background-color: #ffffff;}
  .cajacontenedora { flex-direction: column;}
  .sushi { width: 290%;}
.sushi2 { width: 290%; }
.sushi3 { width: 290%;}
.sushi4 { width: 290%;}
.column-2.menu{
  grid-template-columns: repeat(1,1fr);
}

}